exclude tests/*
exclude exemplos/*
exclude .pre-commit-config
exclude .coveragerc
exclude .github/*
exclude requirements.txt
exclude dev.txt
exclude Taskfile.yml
exclude .gitignore
exclude .env
exclude .env.example
exclude README.md
exclude *.log
exclude *.tmp
exclude *.swp
exclude __pycache__/*
exclude *.pyc
exclude *.db
exclude *.duckdb
